In [1]:
import pandas as pd

# Load the df
Oct2019 = pd.read_csv(r"C:\Users\abrah\OneDrive\Desktop\Semester 3\Introduction to Big Data\Project\EcommerceAnalysis\2019-Oct.csv")

In [2]:
# Display the first 5 rows
print(Oct2019.head())

                event_time event_type  product_id          category_id  \
0  2019-10-01 00:00:00 UTC       view    44600062  2103807459595387724
1  2019-10-01 00:00:00 UTC       view     3900821  2053013552326770905
2  2019-10-01 00:00:01 UTC       view    17200506  2053013559792632471
3  2019-10-01 00:00:01 UTC       view     1307067  2053013558920217191
4  2019-10-01 00:00:04 UTC       view     1004237  2053013555631882655

                         category_code     brand    price    user_id  \
0                                  NaN  shiseido    35.79  541312140
1  appliances.environment.water_heater      aqua    33.20  554748717
2           furniture.living_room.sofa       NaN   543.10  519107250
3                   computers.notebook    lenovo   251.74  550050854
4               electronics.smartphone     apple  1081.98  535871217

                           user_session
0  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  9333dfbd-b87a-4708-9857-6336556b0fcc
2  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  7c90fc70-0e80-4590-96f3-13c02c18c713
4  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [3]:
# (Number of Rows, Number of Columns)
print(Oct2019.shape)

(42448764, 9)

In [4]:
# Displays each datatype for each column
print(Oct2019.dtypes)

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [5]:
# Removes rows with null values
Oct2019 = Oct2019.dropna()

# Removes duplicate rows
Oct2019 = Oct2019.drop_duplicates()

In [6]:
# Slice anything after the 19th character (Removing Timezone)
Oct2019["event_time"] = Oct2019["event_time"].str[:19]

In [7]:
# Makes sure the "event_time" column contains a datetime data type
Oct2019["event_time"] = pd.to_datetime(Oct2019["event_time"])

In [8]:
# Displays the first 5 rows
Oct2019.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
8,2019-10-01 00:00:10,view,28719074,2053013565480109009,apparel.shoes.keds,baden,102.71,520571932,ac1cd4e5-a3ce-4224-a2d7-ff660a105880

In [9]:
Oct2019.to_csv("2019-Oct_Cleaned.csv", index = False)